{% extends "base.html" %} {% block title %}Edit Task{% endblock %} {% block header %}Edit Task{% endblock %} {% block content %}
<form method="POST" action="{{ url_for('edit_task', task_id=task.id) }}" class="mt-0" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
  <div class="form-group">
    <label for="title">제목</label>
    <input type="text" name="title" id="title" class="form-control" size="32" value="{{ task.title }}" required />
  </div>
  <div class="form-group">
    <label for="filter">필터</label>
    <select id="filter" name="filter" class="form-control">
      <option value="db" {% if task.filter == 'db' %}selected{% endif %}>DB</option>
      <option value="python" {% if task.filter == 'python' %}selected{% endif %}>파이썬</option>
      <option value="web" {% if task.filter == 'web' %}selected{% endif %}>웹</option>
      <option value="deeplearning" {% if task.filter == 'deeplearning' %}selected{% endif %}>딥러닝</option>
      <option value="machinelearning" {% if task.filter == 'machinelearning' %}selected{% endif %}>머신러닝</option>
    </select>
  </div>
  <div class="form-group">
    <label for="contents">내용</label>
    <textarea name="contents" id="contents" class="form-control" rows="4" required>{{ task.contents }}</textarea>
  </div>
  <div class="form-group">
    <label for="start-date">시작일</label>
    <input type="date" name="start-date" id="start-date" class="form-control" value="{{ task.start_date }}" required />
  </div>
  <div class="form-group">
    <label for="due_date">마감일</label>
    <input type="date" name="due_date" id="due_date" class="form-control" value="{{ task.due_date }}" required />
  </div>
  <div class="form-group">
    <label for="completion_date">완수일</label>
    <input
      type="date"
      name="completion_date"
      id="completion_date"
      class="form-control"
      value="{{ task.completion_date.strftime('%Y-%m-%d') if task.completion_date else '' }}"
    />
  </div>
  <div class="form-group">
    <label for="file">파일 업로드</label>
    <input type="file" name="file" id="file" class="form-control" />
    {% if task.file_path %}
    <p>현재 파일: <a href="{{ url_for('download_file', filename=task.file_path) }}">{{ task.file_path }}</a></p>
    <label for="remove_file">기존 파일 삭제</label>
    <input type="checkbox" name="remove_file" id="remove_file" />
    {% endif %}
  </div>
  <div class="form-group">
    <label for="link">관련 링크</label>
    <input type="url" name="link" id="link" class="form-control" value="{{ task.link_path }}" />
    {% if task.link_path %}
    <p>현재 링크: <a href="{{ task.link_path }}" target="_blank">{{ task.link_path }}</a></p>
    <label for="remove_link">기존 링크 삭제</label>
    <input type="checkbox" name="remove_link" id="remove_link" />
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Edit Task</button>
</form>

<a href="{{ url_for('task_list') }}" class="btn btn-secondary mt-2">Back to Task List</a>
{% endblock %}
